{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
 
     <!-- Plugins CSS File -->
    <link rel="stylesheet" href= "{% static 'assets/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl-carousel/owl.carousel.css ' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/jquery.countdown.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/skins/skin-demo-3.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/demos/demo-3.css' %}">
</head>

<body>